<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Journal app</title>
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="region-main"></div>

	<script id="regionMainTemplate" type="text/template">
		<div id="region-header"></div>
		<div id="region-content"></div>
	</script>

	<script id="regionContentTemplate" type="text/template"></script>

	<script id="regionHeaderTemplate" type="text/template">
		<div class="menu">
			<ul class="menu-list">
				<li><a href="#entries">List entries</a></li>
				<li><a href="#entry/add">Add entry</a></li>
				<li><a href="#logout">Logout</a></li>
			</ul>
		</div>
	</script>

	<script id="entryTemplate" type="text/template">
		<div class="entry-item">
			<a class="entry-item__delete deleteEntry" href="#">Delete</a>
			<h3 class="entry-item__name"><%= subject %></h3>
			<div class="entry-item__date"><%= datetime %></div>
			<div class="entry-item__teaser"><%= text %></div>
		</div>
	</script>

	<script id="entryEditTemplate" type="text/template">
		<form method="post" class="entry-form">
			<h3 class="entry-form__heading">Edit journal entry</h3>
			<div class="entry-form-input clearfix">
				<label class="entry-form-input__label" for="entry-subject">Entry name</label>
				<input class="entry-form-input__text" name="subject" type="text" id="entry-subject" value="<%= subject %>" />
			</div>
			<div class="entry-form-input clearfix">
				<label class="entry-form-input__label" for="entry-text">Entry text</label>
				<textarea class="entry-form-input__textarea" name="text" id="entry-text"><%= text %></textarea>
			</div>
			<div class="entry-form-footer">
				<button id="saveEntry" class="entry-form__submit" type="submit">Save entry</button>
			</div>
		</form>
	</script>

	<script id="entryAddTemplate" type="text/template">
		<form method="post" class="entry-form">
			<h3 class="entry-form__heading">Add journal entry</h3>
			<div class="entry-form-input clearfix">
				<label class="entry-form-input__label" for="entry-subject">Entry name</label>
				<input class="entry-form-input__text" name="subject" type="text" id="entry-subject" value="" />
			</div>
			<div class="entry-form-input clearfix">
				<label class="entry-form-input__label" for="entry-text">Entry text</label>
				<textarea class="entry-form-input__textarea" name="text" id="entry-text"></textarea>
			</div>
			<div class="entry-form-footer">
				<button id="addEntry" class="entry-form__submit" type="submit">Save entry</button>
			</div>
		</form>
	</script>

	<script id="loginFormTemplate" type="text/template">
		<form id="login-form" method="post" class="login-form">
			<div class="login-form-input">
				<label for="LoginForm_username" class="login-form-input__label required">Username <span class="required">*</span></label>
				<input name="LoginForm[username]" id="LoginForm_username" class="login-form-input__input" type="text">
			</div>
			<div class="login-form-input">
				<label for="LoginForm_password" class="login-form-input__label required">Password <span class="required">*</span></label>
				<input name="LoginForm[password]" id="LoginForm_password" class="login-form-input__input" type="password">
			</div>
			<div class="login-form--actions">
				<input type="submit" name="submit" value="Login">
			</div>
		</form>
	</script>

	<script data-main="js/app.js" src="js/lib/require.js"></script>
</body>
</html>